<div class="wrap d-flex">
  <div class="cube row justify-content-center align-self-center">
      <div class="sphere"></div>
      <div class="sphere"></div>
      <div class="sphere"></div>
      <div class="sphere"></div>
      <div class="sphere"></div>
      <div class="sphere"></div>
      <div class="sphere"></div>
      <div class="sphere"></div>
      <div class="sphere"></div>
      <div class="sphere"></div>
      <div class="sphere"></div>
      <div class="sphere"></div>
      <div class="sphere"></div>
      <div class="sphere"></div>
      <div class="sphere"></div>
      <div class="sphere"></div>
    <div class="side front">
    </div>
    <div class="side back">
    </div>
    <div class="side top">
    </div>
    <div class="side bottom">
    </div>
    <div class="side left">
    </div>
    <div class="side right">
    </div>
  </div>
</div>