<div class="footer-wrapper">
<div class="container m-auto footer">
    <div class="row align-items-center justify-content-center">
        <div class="col-6 justify-content-center">
            <li class="row">Kyle (C) 2021-2023</li>
            <li class="row">
                Designed in VScode using Ruby on Rails v7.1.2
            </li>
        </div>
        <div class="col-6">
            <li class="row justify-content-end">Theme: dark</li>
            <a href="https://www.freepik.com/free-vector/futuristic-halftone-background_4239961.htm#query=dark%20website%20background&position=37&from_view=keyword&track=ais&uuid=0539db76-f859-4317-b1b6-424c812df483">Image by rawpixel.com</a> on Freepik
        </div>
    </div>
</div>
<div>