<div class="container row justify-content-end v-padded">
    <div class="col-12 col-sm-4 col-md-4">
        <div class="subsection mx-5">
            <h2>
                <%= project.title %>
            </h2>
            <p class="proj-description">
                <%= project.description %>
            </p>
            <% project.tags.each do |tag| %>
                <li><%= tag.name %></li>
            <% end %>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6">
        <div id="card-1" class="span project-card">IssueIt</div>
    </div>
</div>